mixin sponsors(title, sponsors)
  h3=title
  ul
    each sponsor in sponsors
      li.sponsor.span4
        a(href=sponsor.url, title= sponsor.name)
          img(src="/img/partners/" + sponsor.img)

mixin sponsorsBig(title, sponsors)
  h3=title
  .sponsors
    each sponsor in sponsors
      .row
        .span3
          a(href=sponsor.url, title= sponsor.name, target="_blank")
            img(src="/img/partners/" + sponsor.img)
        .span5
          p !{ lingua.sponsors_descriptions[sponsor.short_desc]}
          p 
            a(href="/sponsors/" + sponsor.id) Ver más


mixin sponsorsInRow()

  ul.rowsponsors
    -for (var sponsorType in locals.sponsorList )
      each sponsor in locals.sponsorList[sponsorType]
        li.sponsor
          a(href=sponsor.url, title= sponsor.name, target="_blank")
            img(src="/img/partners/" + sponsor.img)
            span.label !{sponsorType}
      