extends ../layout

append content

  h1 !{lingua.contribute.title}

  .body-header
    !{lingua.contribute.bodyheader}

  .body
    !{lingua.contribute.volunteers}
    !{lingua.contribute.volunteers2}
    !{lingua.contribute.blog}

    !{lingua.contribute.web}
    .row.banners
      .span3
        img(src='/img/banners/banner130x130.gif', title='banner130x130',)


    !{lingua.contribute.sign}
    .row
      .span3
        a( href="/misc/codemotion_cartel.pdf")
          img(src='/img/banners/codemotion_cartel.jpg', title='Cartel codemotion')


    !{lingua.contribute.student}
    !{lingua.contribute.friends}
    !{lingua.contribute.twitter}
    !{lingua.contribute.linkedin}

