extends ../layout

append content

  h1 !{lingua.cv.title}

  .body-header
    !{lingua.cv.bodyheader}

  .body
    !{lingua.cv.body}
    !{lingua.cv.update}
    !{lingua.cv.copies}
    !{lingua.cv.deliver}
    !{lingua.cv.remember}

