extends ../layout

append content

  h1 !{lingua.followUp.title}

  .body-header
    !{lingua.followUp.bodyheader}

  .body
    !{lingua.followUp.blogs}
    ul
      li.new
        a(href="http://josemlopez.blogspot.com.es/2012/04/codemotion-2012-conociendo-nuevos.html") Codemotion 2012: Conociendo nuevos trucos de magia
        span &nbsp; por José Lopez
      li
        a(href="http://elblogtardio.blogspot.com.es/2012/03/tecnologias-explorar-tras-el-codemotion.html") Tecnologías a explorar tras el Codemotion
        span &nbsp; por @gootyfer
      li
        a(href="http://geeks.ms/blogs/devnettips/archive/2012/03/29/mi-participaci-243-n-en-el-codemotion-es.aspx") Mi participación en el Codemotion.es
        span &nbsp; por @vgaltes</span>
      li
        a(href="http://rchavarria.wordpress.com/2012/03/29/mis-impresiones-sobre-codemotion-2012/") Mis impresiones sobre Codemotion 2012
        span &nbsp; por @rchavarriat
      li 
        a(href="http://www.antoniocampos.es/codemotion-2012-la-liamos-parda/") Codemotion 2012. La liamos parda
        span &nbsp; por @acamposserna
      li
        a(href="http://www.devsopen.com/blog/codemotion-2012/") Codemotion 2012
        span &nbsp; por @rubenfdez_se
      li 
        a(href="http://noessolocosadehombres.wordpress.com/2012/03/26/codemotion/") Codemotion
        span &nbsp; por @Laura_Morillo
      li
        a(href="http://juanmagomez.wordpress.com/2012/03/24/y-hasta-aqui-codemotion-2012/", alt="Y hasta aquí Codemotion 2012") Y hasta aquí Codemotion 2012
        span &nbsp; Por @JuanmaGomeR
      li
        a(href="http://danieldisu.wordpress.com/2012/03/25/codemotion-es/", alt="#Codemotion #es") #Codemotion #es
        span &nbsp; Por @DanielDiSu
      li
        a(href="http://www.jlmarina.net/index.php/archives/306", alt="Codemotion 2012 por @jlmarina") Codemotion 2012
        span &nbsp; Por @jlmarina
      li
        a(href="http://www.sonicbyte.com/codemotion-2012-mi-experiencia/", alt="Codemotion 2012: Mi experiencia por Pablo Jimeno") Codemotion 2012: Mi experiencia
        span &nbsp; Por @pablojimeno
      li
        a(href="http://magmax9.blogspot.com.es/2012/03/retrospectiva-al-codemotion-es.html", alt="Retrospectiva al #codemotion #es por @magmax9") Retrospectiva al #codemotion #es
        span &nbsp; Por @magmax9
      li 
        a(href="http://workingpasion.blogspot.com.es/2012/03/el-codemotion-segun-mi-perspectiva.html", alt="El codemotion según mi perspectiva por @jessi_aguado") El Codemotion según mi perspectiva
        span &nbsp; Por @jessi_aguado
      li
        a(href="http://www.bonillaware.com/codemotion-2012", alt="Codemotion 2012: Hamor y Plataformas por David Bonilla") Codemotion 2012: <em>Hamor</em> y Plataformas
        span &nbsp; Por @david_bonilla
      li
        a(href="http://eamodeorubio.wordpress.com/2012/03/27/mi-experiencia-codemotion/", alt="Mi experiencia Codemotion por Enrique Amodeo") Mi experiencia Codemotion
        span &nbsp; Por @eamodeorubio
      li
        a(href="http://thefrontend.wordpress.com/2012/03/26/el-codemotion-madrid-2012/", alt="El Codemotion Madrid 2012 por rliberoff") El Codemotion Madrid 2012
        span &nbsp; Por @rliberoff
      li
        a(href="http://thefrontend.wordpress.com/2012/03/27/presentaciones-graciosas-del-codemotion-2012/", alt="Presentaciones graciosas del Codemotion 2012 por rliberoff") Presentaciones graciosas del Codemotion 2012
        span &nbsp; Por @rliberoff
      li
        a(href="http://geeks.ms/blogs/rserna/archive/2012/03/27/resumen-del-codemotion-2012.aspx", alt="Resumen del Codemotion 2012 por Rafael Serna") Resumen del Codemotion 2012
        span &nbsp; Por @rafasermed
      li
        a(href="http://www.alfonsomarin.es/codemotion/", alt="Codemotion por Alfonso Marín") Codemotion
        span &nbsp; Por @alfonso_es
      li
        a(href="http://gmamenl.visibli.com/share/8EDwGX", alt="Mi crónica sobre Codemotion 2012 por Mamen González") Mi crónica sobre Codemotion 2012
        span &nbsp; Por @gmamenl
      li
        a(href="http://www.genbetadev.com/desarrolladores/codemotion-espana-2012-lo-que-se-dijo-en-twitter", alt="Codemotion 2012, lo que se dijo en twitter") Codemotion 2012, lo que se dijo en twitter
        span &nbsp;Por @kalimero

    !{lingua.followUp.press}
    ul
      li
        a(href="http://www.genbetadev.com/desarrolladores/codemotion-un-evento-imprescindible-que-reunira-a-diversas-comunidades-de-desarrolladores", alt="Codemotion en GenbetaDev") Codemotion en Genbetadev
      li
        a(href="http://www.genbetadev.com/entrevistas/se-va-hablar-de-los-temas-mas-hot-del-sector-entrevista-a-los-organizadores-de-codemotion", alt="Entrevista en Genbetadev") Entrevista en Genbetadev
      li
        a(href="http://www.europapress.es/madrid/noticia-universidad-politecnica-madrid-acoge-codemotion-encuentro-desarrolladores-tecnicos-informaticos-20120324130035.html", alt="Codemotion en EuropaPress") Codemotion en EuropaPress
      li
        a(href="http://www.lavanguardia.com/local/madrid/20120324/54275707682/la-universidad-politecnica-de-madrid-acoge-codemotion-un-encuentro-de-desarrolladores-y-tecnicos-inf.html", alt="Codemotion en La Vanguardia") Codemotion en La Vanguardia
      li
        a(href="http://www.telecinco.es/informativos/cultura/Universidad-Politecnica-Madrid-Codemotion-desarrolladores_0_1582641958.html", alt="Codemotion en Informativos Telecinco") Codemotion en informativos Telecinco
      li
        a(href="http://www.eldigitaldemadrid.es/ep/general/SOCIEDAD/20120323132351", alt="Codemotoin en El digital de Madrid") Codemotion en El Digital de Madrid
      li
        a(href="http://noticias.lainformacion.com/economia-negocios-y-finanzas/software/la-universidad-politecnica-de-madrid-acoge-codemotion-un-encuentro-de-desarrolladores-y-tecnicos-informaticos_OYnOOLiGm4MXZ5AXAtOQc3/", alt="Codemotion en lainformacion.com") Codemotion en LaInformación.com
      li
        a(href="http://www.que.es/madrid/201203241300-universidad-politecnica-madrid-acoge-codemotion-epi.html", alt="Codemotion en Que!") Codemotion en diario QUÉ!

      li
        a(href="http://www.lavozlibre.com/noticias/ampliar/552681/la-universidad-politecnica-de-madrid-acoge-manana-codemotion-un-encuentro-de-desarrolladores-y-tecnicos-informaticos", alt="Codemotion en La Voz Libre") Codemotion en La Voz Libre
      li
        a(href="http://devs.ticbeat.com/codemotion-llega-madrid-tras-5-anos-italia/", alt="Codemotion en TICbeat") Codemotion en TicBeat

      li
        a(href="http://ecodiario.eleconomista.es/espana/noticias/3843427/03/12/La-Universidad-Politecnica-de-Madrid-acoge-manana-Codemotion-un-encuentro-de-desarrolladores-y-tecnicos-informaticos.html", alt="El Economista") Codemotion en elEconomista.es
      li
        a(href="http://www.todostartups.com/tsnews/llega-codemotion-el-evento-para-programadores-mas-importante-de-europa-tsnews", alt="Codemotion en todostartups") Codemotion en TodoStartUps
      li
        a(href="http://www.gentedigital.es/madrid/noticia/815717/la-universidad-politecnica-de-madrid-acoge-codemotion-un-encuentro-de-desarrolladores-y-tecnicos-informaticos/", alt="Codemotion en GenteDigital") Codemotion en Gente Digital
      li
        a(href="http://www.teinteresa.es/tele/Universidad-Politecnica-Madrid-Codemotion-desarrolladores_0_668933871.html", alt="Codemotion en Te Interesa") Codemotion en Te Interesa
      li
        a(href="http://es.noticias.yahoo.com/universidad-polit%C3%A9cnica-madrid-acoge-ma%C3%B1ana-codemotion-encuentro-desarrolladores-122351016.html", alt="Codemotion en Yahoo! Noticias") Codemotion en Yahoo! noticias
      li
        a(href="http://www.noticiasdot.com/wp2/2012/03/24/la-universidad-politecnica-de-madrid-acoge-hoy-codemotion/", alt="Codemotion en Noticias Dot") Codemotion en Noticias Dot
      li
        a(href="http://www.ultimas-noticias.eu/internet-y-tecnologia/58325-codemotion-llega-a-madrid-tras-5-anos-en-italia", alt="Noticia en ultimas-noticiaas") Codemotion en Ultimas-noticias.eu
      li
        a(href="http://www.data.es/software/2012/03/la-universidad-politecnica-de-madrid-acoge-hoy-codemotion/", alt="Codemotion en Data") Codemotion en Data

      li
        a(href="http://ritsi.org/noticias/ritsi-colabora-en-codemotion-el-evento-abierto-a-todos-los-lenguajes-y-tecnologias/" ,alt="RITSI colabora en el Codemotion") Codemotion en RITSI
      li
        a(href="http://noticias.terra.es/2012/local/madrid/0324/actualidad/la-universidad-politecnica-de-madrid-acoge-codemotion-un-encuentro-de-desarrolladores-y-tecnicos-informaticos.aspx", alt="Codemotion en Terra Noticias") Codemotion en Terra noticias

    !{lingua.followUp.photos}
    p
      <iframe align="center" src="http://www.flickr.com/slideShow/index.gne?tags=Codemotion,Madrid,2012" frameborder="0" width="500" height="500" scrolling="no"></iframe>