extends ../layout

append content

  h1 !{lingua.info.title}

  .body-header
    !{lingua.info.bodyheader}

  .body
    !{lingua.info.body}
    !{lingua.info.international}
    !{lingua.info.waiting}
    !{lingua.info.c4p}
